.paginationWrapper {
  /* width: 100%; */
  margin-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.paginateBtn {
  border-radius: 50%;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  background: #f1f1f1;
}

.pageNumber {
  border-radius: 50%;
  width: 20px;
  padding: 7px;
  text-align: center;
}

.pageNumberActive {
  background: rgb(0, 204, 109);
  color: white;
}
