.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.searchTypeWrapper {
  display: flex;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  border-radius: 4px;
  flex-wrap: wrap;
  min-width: 306px;
}

.orderTypeWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
