.notFound {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentlyVisitedHeader {
  text-align: center;
}

.recentlyVisitedWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 21px;
  flex-wrap: wrap;
  padding: 5%;
  padding-top: 0;
  background-color: #f2f5f8;
}
