.notFound {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentlyVisitedHeader {
  text-align: center;
}

.recentlyVisitedWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-inline: 15%;
}
