.ContactsHeader {
  text-align: center;
  margin-top: 20px;
}

.ContactsWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 21px;
  flex-wrap: wrap;
  padding: 5%;
  padding-top: 0;
  background-color: #f2f5f8;
}